@import "tailwindcss";
@import "@polgubau/animated";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Gabarito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Gabarito.ttf") format("truetype");
}

:root {
  font-family: "Gabarito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  @apply antialiased bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
